{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Smart Physics</title>
</head>
<body>
    <div class="head">
          <nav  class="navbar">
           <span>  <img src="{% static 'images/logo1.png' %}" alt="logo" class="logo">   </span> 
             
          </nav>
           <p class="teacher"> MR: Essam Hessan</p>
    </div>

    <div class="declare">

    <div class="content">

        <h1>تعلم الفيزياء باحتراف</h1>

        <h2>مع مستر عصام حسين</h2>

        <p>
            شرح مبسط للمفاهيم الفيزيائية مع أمثلة وتدريبات
            واختبارات وفيديوهات تفاعلية.
        </p>

<a href="{% url 'signup' %}" class="btn-start">
   <button>  اشترك الآن 🚀 </button>
</a>

    </div>

    <div class="hero">
        <img src="{% static 'images/physics.png' %}" alt="">
    </div>

</div>
   <div   class="cards_containers"> 

     <div class="lesson-card">
    <span class="lesson-number">1</span>

    <div class="lesson-info">
        <h3>📚 حصص تفاعلية</h3>
        <p>فيديوهات وشرح مباشر مع المدرس</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>
             
<div class="lesson-card">
    <span class="lesson-number">2</span>

     <div class="lesson-info">
        <h3>📝 متابعة دورية</h3>
        <p>اختبارات أسبوعية وتدريبات مستمرة.</p>
    </div>

    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="lesson-card">
    <span class="lesson-number">3</span>

     <div class="lesson-info">
        <h3>🎥 فيديوهات توضيحية</h3>
        <p>تجارب ورسوم متحركة لفهم الدروس.</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="lesson-card">
    <span class="lesson-number">4</span>

     <div class="lesson-info">
        <h3>📄 ملخصات PDF</h3>
        <p>ملخصات مرتبة لكل وحدة.</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="lesson-card">
    <span class="lesson-number">5</span>

     <div class="lesson-info">
        <h3>🏆 امتحانات شاملة</h3>
        <p>امتحانات مشابهة للامتحان النهائي.</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="lesson-card">
    <span class="lesson-number">6</span>

     <div class="lesson-info">
        <h3>💬 اسأل المدرس</h3>
        <p>تواصل مع المدرس في أي وقت.</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="lesson-card">
    <span class="lesson-number">7</span>

     <div class="lesson-info">
        <h3>📊 متابعة المستوى</h3>
        <p>اعرف مستواك ونسبة تقدمك.</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>

<div class="lesson-card">
    <span class="lesson-number">8</span>

     <div class="lesson-info">
        <h3>🎯 واجبات منزلية</h3>
        <p>حل الواجب وتصحيحه تلقائيًا.</p>
    </div>
   

    <i class="fa-solid fa-chevron-left"></i>
</div>

     </div>
  


  <div class="who_me">
         <img src="{% static 'images/image1.png' %}" alt="Mr Esam" class="esam">
         <p>🎓 +20 سنوات خبرة</p>
         <p>👨‍🎓 بكالوريوس علوم وتلربية قسم فيزياء</p>
         <p>📚 +200 فيديو تعليمي</p>
         <p>⭐ نسبة رضا الطلاب 98%</p>





            <div class="teacher-info">
        <h2>من هوMr/Essam Hussain؟</h2>

        <p>لأن النجاح في الفيزياء لا يعتمد على الحفظ، بل على الفهم، جاءت منصة Smart Physics لتقدم شرحًا مبسطًا واحترافيًا يساعد الطالب على استيعاب كل درس بسهولة وتحقيق أفضل النتائج.
        </p>

        <p>
           داخل المنصة ستجد:
        </p>

        <ul>
            <li>📚 شرح جميع الدروس بطريقة مبسطة.</li>
            <li>🎥 فيديوهات بجودة عالية.</li>
            <li>📝 اختبارات بعد كل درس.</li>
            <li>📄 ملخصات وواجبات.</li>
            <li>💬 متابعة والرد على أسئلة الطلاب.</li>
        </ul>
    </div>
  </div>
  


 <footer class="footer">
    <div class="container">

        <div class="footer-box">
            <h3>السوشيال ميديا</h3>

            <a href="#"><i class="fa-brands fa-facebook"></i> فيسبوك</a>

            <a href="#"><i class="fa-brands fa-instagram"></i> انستجرام</a>

            <a href="#"><i class="fa-brands fa-tiktok"></i> تيك توك</a>

            <a href="#"><i class="fa-brands fa-youtube"></i> يوتيوب</a>
        </div>

        <div class="footer-box">
            <h3>الصفحات</h3>

            <a href="#">الرئيسية</a>
            <a href="{% url 'about' %}">المساعدة</a>
            <a href="{% url 'signup' %}">إنشاء حساب</a>
            <a href="{% url 'signup' %}">تسجيل الدخول</a>
            
        </div>

        <div class="footer-box logo-box">
            <img src="{% static 'images/logo1.png' %}" alt="logo" class="logo">

            <p>جميع الحقوق محفوظة © 2026</p>

            <span>Developed by Dalia Sami</span>
        </div>

    </div>
</footer>
</body>
</html>